<div class="home-page">
<section class="container py-5 d-flex align-items-center justify-content-center gap-5 flex-wrap">
  
  <img class="img-home" src="assets/img-home.png" alt="Desenho de um garoto usando o notebook com um foguete atrás">
  <div class="texto-home ms-15">
    <p class="text-center">Olá, visitante 👋</p>
    <h2 class="text-center">Meu nome é Gabriel Alves</h2>
    <p class="text-center">Sou Desenvolvedor Full Stack</p>
    <div class="social-icons mt-3 d-flex gap-3 justify-content-center">
      <a href="https://www.linkedin.com/in/gabriel-asilva/" target="_blank">
        <img src="assets/linkedin.png" alt="LinkedIn" width="32" height="32">
      </a>
      <a href="https://github.com/gabrielalves7" target="_blank">
        <img src="assets/github.png" alt="GitHub" width="32" height="32">
      </a>
      <a href="https://wa.me/5534996808844?text=Ol%C3%A1%2C%20Gabriel%21%20Vi%20seu%20portif%C3%B3lio%20e%20queria%20conversar%20contigo." target="_blank">
        <img src="assets/icon-whatsapp.png" alt="WhatsApp" width="32" height="32">
      </a>
    </div>
  </div>
</section>
</div>